.CardProductHorizontal__img {
  min-width: 118px;
  max-width: 128px;
}

.CardProductHorizontal__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}