.ProductSummary {
    border-bottom:  1px solid #3A3D46;
}

.ProductSummary:last-child {
    border-bottom: none;
    padding-bottom: 0 !important;
}

.ProductSummary__img {
    min-width: 100px;
    max-width: 118px;
}