.PreferencesCards {
    position: relative;
    min-width: 140px;
    max-width: 159px;
}

.PreferencesCards__info {
    position: absolute;
    bottom: 15px;
    left: 12px;
}

.PreferencesCards__check {
    position: absolute;
    bottom: 0px;
    right: 28px;
}

.PreferencesCards__check:focus {
    outline: none;
    --tw-ring-offset-color: transparente;
}